#folder
target/
.vagrant/

#fixed file
.class
.exe
.log
.prefs
.classpath
.metadata
.settings
.DS_Store
Thumbs.db
.project
*.iml
*.ipr
*.iws
*.tar.gz
*.bak
.idea
*.log
*.swp
*.swo
*.proto
*.tl

kafka*

logs/*
!logs/.gitkeeper

test_data/*
!test_data/.gitkeeper

record_data/*
!record_data/.gitkeeper

bin/*
!/bin/config.json
!/bin/GeoLite2-City.mmdb
!/bin/GeoLite2-Country.mmdb
!/bin/killall.sh
!/bin/runall2.sh
!/bin/server_pkcs1.key
!/bin/coturn/
!/bin/coturn/.gitkeeper
!/bin/runall2-enterprise.sh
!/bin/runall2-enterprise-channel.sh
!/bin/runall2-enterprise-channel-phone.sh
!/bin/runall2-phone.sh
!/bin/runall2-docker-phone.sh
!/bin/worker/
!/bin/worker/.gitkeeper
/bin/worker/mediasoup-worker

linux/*
!/linux/config.json
!/linux/GeoLite2-City.mmdb
!/linux/GeoLite2-Country.mmdb
!/linux/killall.sh
!/linux/runall2.sh
!/linux/echo2.sh
!/linux/server_pkcs1.key
!/linux/worker/.gitkeeper

/teamcall/
/test_data2/
/demo.mp4
/ecosystem/reactiongen/cmd/reaction/reaction
/ecosystem/stickergen/cmd/sticker/sticker
/ecosystem/stickergen/cmd/featured_stickers/featured_stickers
/bin2/
/bin3/
/ecosystem/stickersgen/cmd/emoji_status/emoji_status
/ecosystem/stickersgen/cmd/sticker/sticker
/ecosystem/themegen/cmd/chat_theme/chat_theme
/ecosystem/themegen/cmd/theme/theme
/ecosystem/wallpaper2/cli/cmd/wallpaper/cli
/ecosystem/wallpaper2/cmd/wallpaper2/wallpaper2
/ecosystem/wallpaper2/
/ecosystem/themegen/
/ecosystem/stickersgen/
/ecosystem/
etc/bff2.yaml
etc/biz2.yaml
/bin4/
/bin5/

src/*
!src/.gitkeeper

data/*
!data/.gitkeeper