[submodule "src/github.com/teamgram/teamgram-server"]
	path = src/github.com/teamgram/teamgram-server
	url = https://github.com/nextsosyal/teamgram-server
[submodule "src/teamgram.io/teamcalls-server"]
	path = src/teamgram.io/teamcalls-server
	url = https://github.com/nextsosyal/tekir-teamcalls-server.git
[submodule "src/teamgram.io/enterprise"]
	path = src/teamgram.io/enterprise
	url = https://github.com/nextsosyal/tekir-enterprise
