services:
  teamgram-phone:
    build:
      context: .
      dockerfile: Dockerfile-phone
    restart: always
    ports:
      - "10443:10443"
      - "11443:11443"
      - "20450:20450"
      - "20010:20010"
      - "20020:20020"
      - "20640:20640"
      - "20110:20110"
      - "5222:5222"
      - "8801:8801"
      - "20660:20660"
      - "20650:20650"
      - "20030:20030"
      - "20120:20120"
      - "20670:20670"
      - "20420:20420"
      - "20040:20040"
      - "24710:24710"
      - "3478:3478"
      - "3478:3478/udp"
      - "5349:5349"
      - "5349:5349/udp"
      - "55000-55600:55000-55600/udp"
      - "63500-63600:63500-63600/udp"
    networks:
      - teamgram_net

networks:
  teamgram_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
