services:
  teamgram:
    build: .
    restart: always
    environment:
      - CODE_NAME=${CODE_NAME}
      - NOTIFICATION_BASE_URL=${NOTIFICATION_BASE_URL}
      - NOTIFICATION_KEY=${NOTIFICATION_KEY}
      - NOTIFICATION_SECRET=${NOTIFICATION_SECRET}
      - PUSH_ENABLED=${PUSH_ENABLED:-true}
      - BYPASS_CODE=${BYPASS_CODE}
      - BYPASS_PHONE=${BYPASS_PHONE}
    ports:
      - "10443:10443"
      - "11443:11443"
      - "12443:12443"
      - "20450:20450"
      - "20010:20010"
      - "20020:20020"
      - "20640:20640"
      - "20110:20110"
      - "5222:5222"
      - "8801:8801"
      - "20660:20660"
      - "20650:20650"
      - "20030:20030"
      - "20120:20120"
      - "20670:20670"
      - "20420:20420"
      - "20040:20040"
      - "24710:24710"
      - "55000-55600:55000-55600/udp"
      - "63500-63600:63500-63600/udp"
    networks:
      - teamgram_net
  nginx:
    image: nginx:alpine
    container_name: teamgram2-nginx
    restart: always
    depends_on:
      - teamgram_tweb
      - teamgram
    ports:
      - "8088:8088"
      - "80:80"
      # İstersen dışarıda 11443'ten gelsin diye 443'ü 11443'e mapliyorum:
      - "443:443"
    volumes:
      - ./privacy.html:/usr/share/nginx/html/privacy.html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./SSL:/etc/nginx/ssl:ro
    networks:
      - teamgram_net

  teamgram_tweb:
    image: teamgram-tweb:latest
    restart: always
    networks:
      - teamgram_net

networks:
  teamgram_net:
    external: true
    name: teamgram-server_teamgram_net
